#=======================================#
#=============> gitignore <=============#
#=======================================#

# Ignore data in the 'markdowns' folder
markdowns/**

# Ignore data in the 'data' folder
data/**
!data/.gitkeep
